[Unit]
Description=gentoo-zh 发行版内核归档构建与发布

OnFailure=binhost-alert@%N.service

[Service]
Type=oneshot
Nice=10
IOSchedulingClass=idle
ExecStart=/var/lib/binhost/build/kernel-archive.sh
TimeoutStartSec=12h
