[Unit]
Description=每日检查发行版内核是否有新版本

[Timer]
OnCalendar=*-*-* 10:00:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
