[Unit]
Description=把 %i 的失败推出去


[Service]
Type=oneshot
User=adminc3b9c6
Group=adminc3b9c6
ExecStart=/var/lib/binhost/build/alert-failed.sh %i.service
